<%!
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.theming.helpers import get_current_site_theme
%>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>

<div class="certificate-wrapper">
    <img class="main-bg" src="/static/${settings.FEATURES.get('DEMO_KTHPLUS_SITE_THEME', get_current_site_theme())}/images/certificate-bg.svg">
    <div class="certificate-body">
        <img class="certificate-logo" src="/static/${settings.FEATURES.get('DEMO_KTHPLUS_SITE_THEME', get_current_site_theme())}/images/logo.png">
        <div class="ribbon">
            <span class="ribbon-text">
                <img src="/static/${settings.FEATURES.get('DEMO_KTHPLUS_SITE_THEME', get_current_site_theme())}/images/dot.png">
                <b>${_("Certificate")}</b>
            </span>
            <strong class="general-text">${_("This certificate is proudly presented to")}</strong>
        </div>
        <div class="inner">
            <strong class="user-name">${accomplishment_copy_username}</strong>
            <p class="certificate-text">${accomplishment_copy_description_full}</p>
            <strong class="course-name">${accomplishment_copy_course_org} ${course_number}: ${accomplishment_copy_course_name}</strong>
        </div>
        <div class="certificate-bottom">
            <div class="date">
                <strong>${certificate_date_issued}</strong>
                <span>${_("Date")}</span>
            </div>
            <div class="medal">
                <img src="/static/${settings.FEATURES.get('DEMO_KTHPLUS_SITE_THEME', get_current_site_theme())}/images/medal.svg">
            </div>
            % if mode != 'base':
            <div class="signature">
                % if certificate_data:
                % for signatory in certificate_data.get('signatories', []):
                <div class="signature-item">
                    <strong><img class="signatory-signature" src="${static.url(signatory['signature_image_path'])}" alt="${signatory['name']}"></strong>
                    <span>${signatory['name']}</span>
                </div>
                % endfor
                % endif
            </div>
            % endif
        </div>
        <span class="certificate-number">${_("Certificate ID Number")}: ${certificate_id_number}</span>
    </div>
</div>
