$base-color: rgb(43, 138, 255);
//body background
$body-bg: #fff;
//links
$links-color: $base-color;
$links-color-hover: lighten($links-color, 10%);
//settings for header
$header-bg: #cff1ff;
$header-nav-link-default-color:  #a3a3a6;
$header-nav-link-color: $base-color;
$header-nav-link-color-hover: #fff;
$header-nav-link-bg: transparent;
$header-nav-link-bg-hover: lighten($header-nav-link-color, 10%);
$dropdown-menu-link-color: #a3a3a6;
$dropdown-menu-link-color-hover: lighten($dropdown-menu-link-color, 20%);
//settings for hamburger
$hamburger-color: $base-color;
$hamburger-width: 30px;
$hamburger-height: 20px;
$hamburger-height-line: 5px;
//settings on promo box
$promo-box-text-color: #fff;
$promo-box-text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
$find-btn-bg: $base-color;
$find-btn-bg-hover: #fff;
$find-btn-border: $base-color;
$find-btn-color: #fff;
$find-btn-color-hover: $base-color;
//search input on promo box
$search-input-background: rgba(255,255,255,0.25);
$search-input-border: #fff;
$search-input-color: #fff;
$search-button-background: none;
$search-button-border: #fff;
$search-button-color: #fff;
$search-height: 55px;
//settings for footer
$footer-bg: #33383f;
$footer-title-color: #fff;
$footer-title-border-color: #2f343b;
$footer-nav-link-color: #7f848c;
$footer-nav-link-color-hover: lighten($footer-nav-link-color, 10%);
$footer-support-text-and-logo: #fff;
$footer-social-link-bg: #fff;
$footer-social-link-bg-hover: lighten($footer-social-link-bg, 10%);
$footer-copyright-color: #7f848c;
$footer-copyright-border-color: #2f343b;
//btn
$theme-btn-bg: $base-color;
$theme-btn-text-color: #ffe;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-red
$theme-btn-red-bg: #c2387d;
$theme-btn-red-text-color: #ffe;
$theme-btn-red-bg-hover: lighten($theme-btn-red-bg, 10%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: $base-color;
$theme-btn-white-text-color: $base-color;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: $base-color;
// link color
$theme-link: $base-color;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: $base-color;
//user link color
$theme-user-link: $base-color;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-title-color: #0c1e2b;
$courses-border-color: $base-color;
$course-hover-bg: rgba(0, 0, 0, .5);
$course-link-color: $theme-link;
$course-bg: #fff;
//certificate
$ribbon-corners-color: lighten($base-color, 5%);
$ribbon-triangle-color: darken($base-color, 5%);
$certificate-borders-color: lighten($base-color, 8%);
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
$delete-button: red;
$white: #fff;

//theme
$screen-lg: 1600px;
$screen-mdp: 1100px;
$screen-md: 992px;
$screen-x: 600px;
$screen-xs: 450px;
//fonts
$sans-serif-font: "Muli", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//header info bar
$header-info-color: #a3a3a6;
$header-info-social-icon-color: $base-color;
//header nav bar
$theme-main-mobile-logo-height: 60px;
$theme-main-mobile-logo-width: 55px;
$theme-main-nav: rgb(64, 142, 129);
$theme-main-nav-link-color: #fff;
$theme-main-nav-item-border-color: #2f343b;
// footer contact us
$footer-contact-us-bg: #fff;
$footer-contact-us-color: #5a666e;
$footer-contact-us-border-color: #ececec;
//about page
$promo-text-color: #fff;
$promo-teacher-title-color: #333;
$promo-teacher-text-color: #ababab;

$theme-color-grey: #333;
$theme-color-main: $base-color;