.btn-link.all-topics {
	transition: all 0.2s ease;
	display: inline-block;
	background: $theme-btn-bg !important;
	color: $theme-btn-text-color !important;
	border: none !important;
	text-transform: uppercase;
	border-radius: 0 !important;
	height: 40px;
	padding: 0 20px;
	&:active,
	&:focus {
		background: $theme-btn-bg !important;
	}
	&:focus:hover {
		background: $theme-btn-bg-hover !important;
	}
	&:hover {
		background: $theme-btn-bg-hover !important;
		text-decoration: none;
	}
	@media screen and (max-width: 600px) {
		margin-bottom: 20px;
		width: 100%;
	}
}

section.discussion {
	.page-header {
		align-items: center;
	}
	.page-header .page-header-secondary {
		@media screen and (max-width: 600px) {
			justify-content: space-between;
		}
		@media screen and (max-width: 420px) {
			display: block;
		}
	}
	.page-content {
		padding: 20px;
	}
	.search-button {
		border: 1px solid $theme-btn-white-border;
		color: $theme-btn-white-text-color;
		cursor: pointer;
		&:hover {
			background: $theme-btn-white-bg-hover;
			color: $theme-btn-white-text-color-hover;
		}
	}
}

#discussion-container {
	max-width: 1170px;
}

.discussion-board >.page-header .has-breadcrumbs .breadcrumbs {
	margin: 0;
}

.new-post-btn {
	border: 1px solid $theme-btn-white-border;
	color: $theme-btn-white-text-color;
	&:hover {
		background: $theme-btn-white-bg-hover;
		color: $theme-btn-white-text-color-hover;
		border-color: $theme-btn-white-bg-hover;
	}
	@media screen and (max-width: 420px) {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
}

.page-header {
	@media screen and (max-width: 600px) {
		display: block;

	}
}

.forum-nav-browse-menu {
	position: relative;
}

.forum-search {
	@media screen and (max-width: 600px) {
		margin: 0;
	}
}

.forum-actions {
	@media screen and (max-width: 420px) {

	}
}

.discussion {

	.actions-dropdown {
		.action-list-item {
			border: none;
		}
	}
}

.search-alert {
	display: flex;
	align-items: flex-start;
	padding: 5px;
	justify-content: flex-start;

	.search-alert-controls,
	.search-alert-content {
		display: inline-block;
	}

	.search-alert-controls {

		.btn-link {
			color: $theme-btn-white-border;
			font-size: 12px;
			border-radius: 3px;
			border-color: inherit;
			line-height: inherit;
			padding: 0 2px;
			transition: all .15s linear;
			@include margin-left(5px);
			vertical-align: top;
			&:hover{
				cursor: pointer;
				color: $theme-btn-white-text-color-hover;
				background: $theme-btn-white-bg-hover !important;
				border-color: $theme-btn-white-bg-hover;
			}
		}
	}

	.message{
		font-size: 12px;
		margin: 0;
	}
}

.discussion-module {

	.add_post_btn_container {
		margin-bottom: 10px;
	}

	.discussion {
		@media screen and (max-width: 480px) {
			padding-top: 10px;
		}
	}

	.discussion-show {
		@media screen and (max-width: 760px) {
			margin-bottom: 10px;
		}
	}

	.discussion-module-header {
		@media screen and (max-width: 480px) {
			width: 100%;
		}
	}
}

.btn-link.new-post-btn {
	padding: 7px 18px;
	border-radius: 3px;
	transition: all .125s ease-in-out;
	&:hover {
		text-decoration: none !important;
		color: $theme-btn-white-text-color-hover;
		background: $theme-btn-white-bg-hover !important;
		border-color: $theme-btn-white-bg-hover;
	}
}

@media screen and (max-width: 1080px) {
	.forum-nav-refine-bar {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&:after{
			display: none;
		}
	}

	.forum-nav-filter-main,
	.forum-nav-sort {
		width: auto;
	}
}

.field-label .field-input:checked+.field-input-label,
.discussion .post-label.post-label-following {
	color: $base-color;
}

.form-control:focus {
	border-color: $base-color;
}
