.wrapper-footer {
	padding: 0 !important;
	text-align: center;
	background: $footer-bg;
	color: #fff;
	margin: 0 !important;
	box-shadow: none;
	border-top: none;
	@media screen and (min-width: 1200px) {
		width: 100%;
	}
	@media screen and (max-width: 991px) {
		padding: 30px 0 10px;
	}
	footer#footer-openedx {
		width: 100%;
		max-width: 1200px !important;
		padding: 0 15px;
		a {
			border: none !important;
		}
		.colophon {
			float: none;
			width: 100%;
			text-align: center;
			.nav-colophon {
				text-align: center;
				margin: 0 0 30px;
				ol {
					margin: 0;
					padding: 0;
					li {
						float: none;
						display: inline-block;
						vertical-align: top;
						font-size: 16px;
						margin: 0 10px;
						@media screen and (max-width: 567px) {
							display: block;
							margin: 5px 0;
						}
						a {
							color: $footer-nav-link-color;
							&:focus,
							&:hover {
								border: none !important;
								color: $footer-nav-link-color-hover;
							}
						}
					}
				}
			}
		}
	}
	.footer-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		> * {
			width: 33.3333%;
			@media screen and (max-width: 991px) {
				width: 100%;
			}
		}
	}
	.icon-list {
		width: auto !important;
		@media screen and (max-width: 991px) {
			width: 100% !important;
			order: 1;
		}
	}
	.footer-support {
		display: flex;
		align-items: center;
		font-size: 12px;
		margin: 0 !important;
		@media screen and (max-width: 991px) {
			justify-content: center;
			order: 3;
		}
		span {
			margin: 0 5px
		}
		a {
			display: inline-block;
			vertical-align: top;
			color: #fff !important;
		}
		em {
			display: inline-block;
			vertical-align: top;
			font-style: normal;
			line-height: 20px;
		}
	}
	.footer-logo-holder {
		@media screen and (max-width: 991px) {
			order: 2;
			margin-bottom: 10px;
		}
		a {
			float: $bi-app-right;
			@media screen and (max-width: 991px) {
				float: none;
				display: inline-block;
			}
		}
		img {
			height: 50px;
		}
	}
	.icon-list {
		text-align: center;
		margin: 0;
		padding: 0;
		list-style: none;
		@media screen and (max-width: 991px) {
			margin-bottom: 15px;
		}
		&_item {
			margin: 0 5px;
			display: inline-block;
		}
		&_link {
			display: block;
			width: 35px;
			height: 35px;
		}
		&_svg {
			width: 35px;
			height: 35px;
			fill: $footer-social-link-bg;
			&:hover {
				fill: $footer-social-link-bg-hover;
				opacity: 0.8;
			}
		}
	}
}

.footer_section {

	&.footer_section-contact-us {
		background: $footer-contact-us-bg;
	}

	.footer_section-holder,
	.footer_copyright-holder {
		border-top: 1px solid $footer-contact-us-border-color;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1140px;
		max-width: 100%;
		margin: 0 auto;
		padding: 28px 15px;
		flex-wrap: wrap;

		@media screen and (min-width: $screen-x) {
			flex-wrap: nowrap;
		}
	}

	.footer_copyright-holder {
		border-top-color: $footer-copyright-border-color;
		color: $footer-copyright-color;
		font: #{13px}/#{1.3} $sans-serif-font;
	}

	.footer_text {
		font: #{17px}/#{1.3} $sans-serif-font;
		font-weight: 400;
		color: $footer-contact-us-color;

		@media screen and (min-width: $screen-x) {
			@include margin-right(50px);
		}
	}

	.footer_btn__contact {
		min-width: 120px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		font: #{14px}/#{1.3} $sans-serif-font;
		color: $theme-btn-white-text-color !important;
		border: 2px solid $theme-btn-white-border;
		padding: 7px 24px 6px;
		box-shadow: none;
		border-radius: 0;
		background: $theme-btn-white-bg;
		text-transform: uppercase;
		transition: all .1s;
		white-space: nowrap;
		@include margin(15px,0,0,0);

		@media screen and (min-width: $screen-x) {
			@include margin(0,0,0,15px);
		}

		&:hover {
			color: $theme-btn-white-text-color-hover !important;
			background: $theme-btn-white-bg-hover;
			border: 2px solid $theme-btn-white-border;
			text-decoration: none;
		}
	}
}

.footer-nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 1140px;
	max-width: 100%;
	padding: 50px 15px 0;
	box-sizing: border-box;

	@media screen and (min-width: $screen-x) {
		flex-wrap: nowrap;
	}

	.footer-col {
		width: 100%;
		margin: 0 0 25px;
		text-align: $bi-app-left;

		@media screen and (min-width: $screen-x) {
			width: auto;
		}
	}

	.footer-title {
		display: block;
		font: #{14px}/#{1.3} $sans-serif-font;
		font-weight: 400;
		color: $footer-title-color;
		padding: 0 0 13px;
		border-bottom: 1px solid $footer-title-border-color;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	ul {
		@include padding-left(0);
		list-style: none;

		li {
			margin: 0 0 11px;

			a {
				font: #{14px}/#{1.3} $sans-serif-font;
				color: $footer-nav-link-color !important;
				display: block;

				&:hover {
					color: $footer-nav-link-color-hover !important;
				}
			}
		}
	}
}
