select:not(.forum-nav-filter-main-control):not(.forum-nav-sort-control),
.forum-new-post-form .post-field .field-label .field-input select.post-topic {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px #c6c6c6 solid !important;
    height: 32px;
    font-size: 15px;
    box-sizing: border-box;
    color: #222;
    background-repeat: no-repeat;
    background-image: url(../images/select-arrow.png);
    background-position-x: $bi-app-right;
    background-position-y: center;
    background-size: 27px 7px !important;
    @include padding(0, 30px, 0, 10px);
}
