.global-header {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
	padding: 0;
	border-bottom: none;
	position: relative;
	overflow: visible;
	background: $header-bg;
	.main-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 28px;
		height: auto;
		@media screen and (max-width: 991px) {
			display: block;
			text-align: center;
		}
		.header-logo {
			margin: 0;
			flex-grow: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			@media screen and (max-width: 991px) {
				display: inline-block;
			}
			a {
				margin: 0;

				@media screen and (max-width: 991px) {
					height: auto;
				}

				.logo {
					display: block;
					margin: 0 !important;
					height: auto;
					max-width: 100%;
				}
			}
			.course-header {
				text-align: $bi-app-left;
				margin-top: 0;
				color: $header-nav-link-default-color;
			}
		}

		.nav-links {
			flex-grow: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			font-size: 16px !important;
			padding-top: 10px;

			@media screen and (min-width: $screen-md) {
				padding-top: 0;
				@include padding-left(10px);
				justify-content: flex-end;
			}

			.main {
				@include margin(0, 0, 0, 20px);
				.nav-item {
					@include margin-left(20px);
					a {
						color: $header-nav-link-color;
					}
				}
			}
			.nav-item {
				@include margin(0,20px,5px,0);
				display: inline-block;
				vertical-align: middle;

				@media screen and (min-width: $screen-md) {
					margin: 0 20px 0 0;
				}

				&:last-child {
					.btn {
						padding: 7px 24px 6px;
						border: 2px solid $header-nav-link-color !important;
						background: $header-nav-link-bg !important;

						&:hover {
							color: $header-nav-link-color-hover !important;
							border-color: $header-nav-link-bg-hover !important;
							background: $header-nav-link-bg-hover !important;
							text-decoration: none;
						}
					}
				}

				.btn {
					border: none;
					color: $header-nav-link-default-color !important;
					background: transparent !important;
					padding: 0;
					text-transform: uppercase;
					font-family: $sans-serif-font;
					font-weight: 400;
					font-size: 14px;
					line-height: 18px;

					&:hover {
						color: $header-nav-link-default-color !important;
						text-decoration: underline;
					}
				}

				a {
					color: $header-nav-link-default-color !important;
					padding: 0;
					text-transform: uppercase;
					font-family: $sans-serif-font;
					font-weight: 400;
					font-size: 14px;
					line-height: 18px;

					&:hover {
						color: $header-nav-link-default-color !important;
						text-decoration: underline;
					}
				}
			}
			.secondary {
				margin: 0;
				.nav-item {
					padding: 0;
					@include margin(0, 0, 0, 10px);
					font-size: 16px !important;
					a {
						color: $header-nav-link-color;
					}
					.fa {
						color: $header-nav-link-default-color;
					}

					&:last-child {
						margin: 0;
					}

					&.nav-item-dashboard {
						@include margin-right(0);

						a{
							&:hover {
								text-decoration: none;
							}
						}
					}

					a.shopping-cart {
						background: transparent;
						border-color: $header-nav-link-default-color;

						&:hover {
							color: $header-nav-link-color;
							border-color: $header-nav-link-color;
							text-decoration: none;

							.fa {
								color: $header-nav-link-default-color;
							}
						}
					}
				}
				.nav-item-dropdown {
					position: relative;
				}
				.username {
					@include margin-left(10px);
				}
				.user-image-frame {
					@include margin(0, 5px, 0, 0);
				}
				.dropdown-user-menu {
					width: max-content;
					width: -moz-max-content;
					@include right(0px);
					@include left(unset);
					z-index: 20;
					position: absolute;
					background-color: #fff;
					color: $dropdown-menu-link-color;
					border: 1px solid $dropdown-menu-link-color;
					padding: 10px 15px;
					top: 45px;
					text-align: $bi-app-left;

					@media screen and (min-width: 992px) {
						padding: 0;
						top: 55px;
					}

					.dropdown-item {
						a:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	.dropdown-user-menu a {
		color: #28507d !important;
		box-sizing: border-box;
	}
	.main .nav-item a {
		padding: 0 !important;
		border: none !important;
		position: relative;
		color: $header-nav-link-color !important;
	}
	.help-link {
		color: $header-nav-link-color !important;
	}
	.hamburger-menu {
		top: 28px;
	}

	// header buttons

	.btn {
		transition: all 0.2s ease;
		display: inline-block;
		background: $theme-btn-bg !important;
		color: $theme-btn-text-color !important;
		border: none !important;
		text-transform: uppercase;
		border-radius: 0 !important;
		&:active,
		&:focus {
			background: $theme-btn-bg !important;
		}
		&:focus:hover {
			background: $theme-btn-bg-hover !important;
		}
		&:hover {
			background: $theme-btn-bg-hover !important;
		}
	}
}


// mobile menu

.mobile-menu {
	margin: 0;
	border-top: 1px solid #e7e7e7;
	.mobile-nav-link a {
		text-align: $bi-app-left;
		background: none !important;
		color: #000 !important;
		border-bottom: 1px solid #e7e7e7 !important;
		font-size: 16px;
		&:focus:hover,
		&:hover {
			background: none !important;
		}
	}
}

// banner

section.home {
	> header,
	.slider {
		min-height: 450px;
		background-color: #040404;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		position: relative;

		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			display: block;
		}

		.parallax-img {
			position: absolute;
			@include left(0);
			top: -150px;
			width: 100%;
			height: calc(100% + 300px); /* картинка паралакса всегда больше нашего баннера, при скролинге не появится пустутота под баннером */
			background-color: #040404;
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.outer-wrapper {
			width: 100%;
			padding: 15px;

			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				display: table;
				min-height: 450px;
				box-sizing: border-box;
			}

			.title {
				background: none;
				box-shadow: none;
				float: none;
				margin: 0;
				padding: 0;
				width: 100%;
				transition: none !important;

				@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
					display: table-cell;
					vertical-align: middle;
				}

				.heading-group {
					text-align: center;
					h1 {
						font-size: 40px;
						line-height: 1.2;
						color: $promo-box-text-color;
						font-weight: bold;
						text-shadow: $promo-box-text-shadow;
						font-family: "Work Sans", sans-serif;
						margin-bottom: 20px;
						text-transform: uppercase;
						text-align: center !important;
						@media screen and (min-width:760px ) {
							font-size: 60px;
						}
					}
					span {
						display: block;
						text-align: center;
						font-size: 24px;
						line-height: normal;
						text-shadow: $promo-box-text-shadow;
						font-family: $sans-serif-font;
						text-transform: uppercase;
						color: $promo-box-text-color;
					}
					.link {
						background: $find-btn-bg;
						border: 2px solid $find-btn-border;
						color: $find-btn-color;
						padding: 7px 24px;
						display: inline-block;
						text-transform: uppercase;
						&:hover {
							background: $find-btn-bg-hover;
							color: $find-btn-color-hover;
							text-decoration: none;
						}
					}
				}
				.course-search {
					max-width: 590px;
					margin: 0 auto;
					overflow: hidden;
					position: relative;
					padding: 15px 0;
					.search-input {
						background: $search-input-background;
						border: 2px solid $search-input-border;
						color: $search-input-color;
						@include padding-left(20px !important);
						height: $search-height;
						&:focus {
							border-color: $search-input-border !important;
						}
						&::placeholder {
							color: $search-input-color;
							opacity: 1;
						}
						&:-ms-input-placeholder {
							color: $search-input-color;
						}
					}
					.search-button {
						background: $search-button-background !important;
						border-color: $search-button-border !important;
						color: $search-button-color;
						@include border-left(none !important);
						@include right(0);
						height: $search-height;
					}
				}
			}
		}
	}
}

// line under courses "View this course as:"

.wrapper-preview-menu {
	background: #c8c8c8;
	label {
		color: #3c3c3c !important;
	}
}

.wrapper-preview-menu .preview-actions .action-preview .action-preview-select,
.u-field-value select {
	padding: 0 5px;
}


// theme header

.theme-header {
	width: 100%;
	height: auto;
	border: none;
	box-shadow: none;

	.theme-header-info {
		box-sizing: border-box;
		padding: 10px 15px 25px;
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		font-family: $sans-serif-font;
		font-weight: 300;

		@media screen and (min-width: $screen-xs) {
			flex-wrap: nowrap;
		}

		@media screen and (min-width: $screen-md) {
			padding-top: 0;
			padding-bottom: 35px;
		}

		@media screen and (min-width: $screen-lg) {
			@include padding-left(0);
			@include padding-right(0);
		}

		.theme-header-info_text {
			display: none;
			font-size: 12px;
			line-height: 15px;
			color: $header-info-color;

			@media screen and (min-width: $screen-md) {
				display: block;
			}
		}

		.theme-header-info_contact {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: center;
			font-size: 12px;
			line-height: 15px;
			color: $header-info-color;

			@media screen and (min-width: $screen-xs) {
				width: auto;
				justify-content: flex-start;
			}

			.fa {
				@include margin-right(12px);
			}

			.theme-header-info_phone {
				@include padding-left(16px);
				direction: ltr;
				background: url('#{$img-path}/phone.png') no-repeat;
				background-position: $bi-app-left;

				@media screen and (min-width: $screen-md) {
					@include margin-left(24px);
				}
			}

			.theme-header-info_mail {
				@include padding-left(15px);
				color: $header-info-color;

				&:hover {
					color: $links-color;
				}
			}
		}

		.theme-header-info_social {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			padding-top: 10px;

			@media screen and (min-width: $screen-xs) {
				width: auto;
				justify-content: flex-start;
				padding-top: 0;
			}

			.theme-header-info_text {
				@media screen and (min-width: $screen-xs) {
					width: auto;
					justify-content: flex-start;
				}

				@media screen and (min-width: $screen-md) {
					display: block;
					@include margin-right(10px);
				}
			}
		}
	}
}

.social-list {
	display: flex;
	width: auto;
	padding: 0;
	margin: 0;
	list-style: none;
	justify-content: center;

	.social-list_item {
		@include padding-left(16px);

		&:first-child {
			@include padding-left(0);
		}
	}

	.social-list_link {
		font-size: 16px;
		line-height: 1.3;
		color: $header-info-social-icon-color;
	}
}


.global-header .theme-header-info .dynamic_language_selector {
	display: inline-block;
	vertical-align: middle;
	font: 10px/1.3 muliregular;
	color: $header-bg !important;
	box-shadow: none;
	border-radius: 0;
	transition: all .1s;
	white-space: nowrap;
	padding: 0;

	&:focus {
		outline: none;
	}

	@include margin-left(8px);

	.language-selector {
		font-size: 10px;
		width: 100px;
		height: 18px;
		background-color: $header-bg !important;
		color: $theme-color-grey;

		.language-selector-item {
			&:hover {
				box-shadow: #700c49 !important;
				color: #00aa00;
			}

			background-color: $header-bg;
		}
	}
}

// theme header nav bar

.theme-main-nav {
	background: $theme-main-nav;
	width: 100%;
	order: -1;
	position: relative;
	padding-top: 60px;

	@media screen and (min-width: $screen-md) {
		order: 2;
		padding-top: 0;
		display: flex;
		flex-direction: column;
	}

	&.theme-main-nav__open {
		.theme-main-nav_list {
			display: flex;
		}

		.theme-main-nav_opener {
			.line {
				&:nth-child(1) {
					top: 18px;
					width: 0%;
					@include left(50%);
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					top: 18px;
					width: 0%;
					@include left(50%);
				}
			}
		}
	}

	.theme-main-nav_opener {
		position: absolute;
		top: 18px;
		@include right(15px);
		width: 30px;
		height: 25px;
		transform: rotate(0deg);
		transition: all .5s ease-in-out;
		cursor: pointer;
		box-sizing: border-box;

		.line {
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			background: #fff;
			opacity: 1;
			@include left(0);
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.25s ease-in-out;
			transition: 0.25s ease-in-out;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 10px;
			}

			&:nth-child(1) {
				top: 20px;
			}
		}

		@media screen and (min-width: $screen-md) {
			display: none;
		}
	}

	.theme-main-nav_logo {
		position: absolute;
		@include left(15px);
		top: 0;
		height: $theme-main-mobile-logo-height;
		width: $theme-main-mobile-logo-width;
		overflow: hidden;
		display: block;

		@media screen and (min-width: $screen-md) {
			display: none;
		}
	}

	.theme-main-nav_logo-holder {
		img {
			margin: 0;
			max-width: none;
		}
	}

	.theme-main-nav_holder {
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
		order: 2;
	}

	.theme-main-nav_list {
		flex-wrap: wrap;
		justify-content: center;
		display: none;
		@include padding-left(0);
		list-style: none;
		margin-bottom: 0;

		@media screen and (min-width: $screen-md) {
			flex-wrap: nowrap;
			justify-content: flex-start;
			display: flex;
		}
	}

	.theme-main-nav_item {
		width: 100%;
		border-bottom: 1px solid $theme-main-nav-item-border-color;
		margin-bottom: 0;

		@media screen and (min-width: $screen-md) {
			flex-wrap: nowrap;
			border: none;
			width: auto;
		}

		&:first-child {
			border-top: 1px solid $theme-main-nav-item-border-color;

			@media screen and (min-width: $screen-md) {
				border: none;
			}
		}
	}

	.theme-main-nav_link {
		font: 15px/1.3 $sans-serif-font !important;
		padding: 12px 15px 13px;
		text-align: center;
		display: block;
		color: $theme-main-nav-link-color !important;

		@media screen and (min-width: $screen-md) {
			display: inline-block;
			vertical-align: middle;
			text-align: center;
		}

		&:hover {
			background: $links-color-hover;
		}
	}
}

.theme-nav-wrapper_logo-holder {
	display: none;
	overflow: hidden;

	@media screen and (min-width: $screen-md) {
		display: flex;
	}
}

.theme-nav-wrapper_logo-holder_small {
	display: block;
}
