.instructor-dashboard-wrapper-2 {
	textarea {
		display: block;
		height: 150px !important;
		width: 100% !important;
	}

	.instructor-nav .nav-item .btn-link:hover {
		text-decoration: none !important;
	}

	.customBrowseBtn {
		display: block;
		@media screen and (max-width: 400px){
			width: 248px;
		}
		.enhanced-input-file {
			@media screen and (max-width: 400px){
				width: 176px;
			}
		}
		.file-browse {
			.browse {
				position: relative;
				z-index: 10;
				pointer-events: none;
				padding: 5px 10px;
				@media screen and (max-width: 400px){
					@include margin-left(181px);
				}
			}
			.file_field {
				width: 122%;
				height: 100%;
				&::-ms-browse {
					display: none;
				}

				// styles for IE10+
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
					height: 40px;
					margin-top: -6px;
					display: inline-block;
				}

				// styles for Edge
				@supports (-ms-ime-align:auto) {
					height: 40px;
					margin-top: -6px;
				}

				@media screen and (max-width: 400px){
					width: 410px;
					top: 0;
					@include left(-227px);
				}
			}
		}
	}

	.customBrowseBtn + .upload-csv-button {
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: 0 !important;
	}

	section.idash-section#certificates .student-username-or-email,
	section.idash-section#student_admin input[type="text"] {
		max-width: 100%;
	}

	.bottom-bar {
		flex-wrap: wrap;

		label,
		.add {
			@media screen and (max-width: 400px) {
				margin: 5px 0;
			}
		}

		label {
			@media screen and (max-width: 400px) {
				width: 100%;
			}
			.add-field {
				@media screen and (max-width: 400px) {
					width: 100%;
				}
			}
		}
	}

	.member-lists-selector {
		background: #fff;
	}

	section.idash-section#discussions_management {
		.division-scheme-container {
			.two-column-layout {
				@media screen and (max-width: 760px) {
					max-width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}

	section.idash-section#student_admin .location-example,
	section.idash-section#data_download input {
		overflow: hidden;
		display: inline-block;
		max-width: 100%;
		word-wrap: break-word;
		white-space: normal
	}

	section.idash-section#certificates {
		.white-listed-students,
		.invalidation-history,
		.certificate-generation-history-content {
			table {
				@media screen and (max-width: 760px) {
					max-width: 100%;
					display: block;
					overflow-x: auto;
				}
				thead,
				tbody {
					@media screen and (max-width: 760px) {
						overflow: auto;
					}
				}
			}
		}
	}

	section.idash-section#open_response_assessment .open-response-assessment {
		max-width: 100%;
		overflow-x: auto;
	}

	section.idash-section#cohort_management {
		.wrapper-tabs .tab.is-selected .toggle-button {
			@include margin(10px,10px,0,0);
		}
	}
}

.enrollment-wrapper {
	table {
		width: 100%;

		caption {
			padding: 10px;
		}

		th {
			text-align: $bi-app-left;
		}

		td {
			text-align: center;
		}

		th, td {
			padding: 5px 10px;
			border: 1px solid #ccc;
			vertical-align: middle;
		}
	}
}

.instructor-dashboard-content-2 {
	padding: 20px;
	line-height: 1.5;

	button:not(.btn-link),
	.btn-blue,
	input[type=button] {
		margin: 10px 0;
	}

	p input {
		margin-top: 0 !important;
	}

	ul li {
		margin-bottom: 5px;
	}

	textarea {
		width: 100% !important;
		clear: both;

		&#notes,
		&#certificate-invalidation-notes {
			height: 100px;
		}
	}
	.add-certificate-invalidation {
		label {
			display: block;
			margin-bottom: 10px;
		}

		div {
			margin-bottom: 10px;
		}
	}
}

.slick-header-column.ui-state-default {
	height: auto;
}

.instructor-dashboard-wrapper-2 section#certificates.idash-section .white-listed-students table,
.instructor-dashboard-wrapper-2 section#certificates.idash-section .invalidation-history table {
	table-layout: auto;
	tr {
		td, th {
			border: 1px solid #e4e4e4;
			button.delete-exception {
				min-width: 160px;
			}
		}
	}
}

.profile-wrapper .course-info .grade-detail-graph {
	@media screen and (max-width: 990px){
		@include margin-left(-25px);
	}
}

.instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link.active-section,
.instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link:hover,
.instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link:focus{
	border-bottom-color: $base-color;
}

.open-response-assessment-block .ora-summary-title {
	color: $base-color;
}
