.profile-wrapper .course-info>.chapters>section {
    @media screen and (max-width: 760px) {
      display: block;
    }

    .hd,
    .sections {
        @media screen and (max-width: 760px) {
            width: 100%;
            @include padding-right(0);
            display: block;
            @include border-right(none);
        }
    }

    .sections>div .scores {
        dt {
            @media screen and (max-width: 760px) {
                width: 100%;
            }
        }

        dd {
            @media screen and (max-width: 760px) {
                @include margin-right(10px);
                @include padding-right(10px);
            }
        }
    }
}

.progress-certificates-title {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.wrapper-msg.wrapper-auto-cert .auto-cert-message {
    border-left-color: $base-color;
}
