// Slider

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    @include left(0);
    top: 0;
    display: block;
    @include margin-left(auto);
    @include margin-right(auto);

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: $bi-app-left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
      float: $bi-app-right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

// Default Variables

$slick-dot-background: #fff !default;
$slick-dot-background-border-color: #000 !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-not-active: 0.25 !default;

// Slider

.slick-list {
    .slick-loading & {
        background: #fff url('#{$img-path}/ajax-loader.gif') center center no-repeat;
    }
}

// Arrows

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    z-index: 10;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: url('#{$img-path}/slider-arrow.png') no-repeat center center !important;
    background-size: contain !important;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    box-shadow: none;
    outline: none;
    opacity: 0;
    transition: opacity .2s linear;

    &:hover, &:focus {
        outline: none;
        box-shadow: none !important;
        opacity: 1 !important;
    }

    &.slick-disabled {
        opacity: $slick-opacity-not-active;
    }

  @media screen and (max-width: 767px){
    display: none !important;
  }
}

.slick-prev {
    @include left(25px);
    transform: scale(-1) translateY(50%);

    [dir="rtl"] & {
        @include left(auto);
        @include right(25px);
    }
}

.slick-next {
    @include right(25px);

    [dir="rtl"] & {
        @include left(25px);
        @include right(auto);
    }
}

// Dots

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 0;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        &.slick-active {
          button {
            opacity: 1;
          }
        }

        button {
            background: $slick-dot-background;
            border: 1px solid $slick-dot-background-border-color;
            display: block;
            height: 10px;
            width: 10px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            transition: opacity .2s linear;
            margin: 0 auto;
            box-shadow: none;
            opacity: .5;

            &:hover, &:focus {
                outline: none;
                border: 1px solid $slick-dot-background-border-color;
                background: $slick-dot-background;
                opacity: .8;
                box-shadow: none;
            }
        }

        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

section.home > .slider {
  overflow: hidden;
  display: block;

  &:hover {
    .slick-prev,
    .slick-next {
      opacity: .5;
    }
  }

  &.slider-separate .outer-wrapper,
  .outer-wrapper {
    padding-bottom: 30px;

    &:not(:first-of-type){
      display: none;
    }
  }

  &.slick-initialized {
    .outer-wrapper {
      display: flex;
      min-height: 450px;
      align-items: center;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: table;
      }

      .title {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }

  &.slider-separate {
    min-height: 0;

    &.slick-initialized {
      .outer-wrapper {
        display: flex;
        background: transparent;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          display: table;
        }

        .title {
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }

    .outer-wrapper {
      min-height: 450px;
      background-color: #040404;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;

      .title {
        animation: home-header-pop-up 1.15s ease-in-out;
        animation-fill-mode: both;
        animation-delay: 1s;
      }

      &:first-of-type{
        display: flex;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          display: table;
        }

        .title {
          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }

      &:first-child {
        background-color: #040404;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &:nth-child(2) {
        background: url('#{$img-path}/background2.jpg') no-repeat 50% 50%;
        background-size: cover;
      }

    }

  }
}
