//general

.sysadmin-dashboard-wrapper {
	background: #fff;
	padding: 20px;
	margin-top: 20px;
	overflow: hidden;
	.instructor-nav {
		a {
			padding: 5px 0;
			&.active-section {
				color: #000;
			}
		}
	}
	hr {
		width: 100%;
	}
	ol {
		word-break: break-all;
	}
}
.sysadmin-dashboard-content {
	margin: 20px 0 !important;
}

.list-input {
	list-style: none;
	padding: 0;
	li {
		padding-bottom: 15px;
		input {
			&:not([type="checkbox"]) {
				width: 100% !important;
			}
		}
	}
}

table.stat_table {
	width: 100%;
	word-break: break-all;
}

.instructor-dashboard-wrapper-2 .bottom-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	label {
		margin: 0;
	}
}

.instructor-dashboard-wrapper-2 section#membership.idash-section .member-lists-management .auth-list-container .member-list-widget input.add[type="button"],
.instructor-dashboard-wrapper-2 section#membership.idash-section .member-lists-management-ccx .auth-list-container .member-list-widget input.add[type="button"] {
	position: relative;
	margin: 0;
	@include right(auto);
}
