## mako
<%page expression_filter="h"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from branding.api import get_footer
from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
from openedx.core.djangoapps.site_configuration import helpers
from openedx.core.djangoapps.theming.helpers import get_current_site_theme
%>
<%
footer = get_footer(is_secure=is_secure)

zeitlabs_config = helpers.get_value("ZeitLabs") or None;

if (zeitlabs_config != None):
  footer_logo_filename = zeitlabs_config["footer_logo_filename"] or "logo.png";
  footer_logo_lang = zeitlabs_config["footer_logo_lang"] or None;
else:
  footer_logo_filename = "logo.png";
  footer_logo_lang = None;

if footer_logo_lang != None:
  for lang in footer_logo_lang:
    if lang.lower() == current_lang:
      footer_logo_filename = footer_logo_filename.replace(".", "-" + current_lang + ".")
      exit;

footer_logo_path = "/static/" + str(get_current_site_theme()) + "/images/" + footer_logo_filename
%>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">

  <div class="footer_section footer_section-contact-us">
    <div class="footer_section-holder">
      <span class="footer_text">${_('If you have some questions please contact us')}</span>
      <a class="footer_btn__contact" href="/contact">${_('Contact us')}</a>
    </div>
  </div>

  <footer id="footer-openedx" class="grid-container"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
    <div class="colophon">
      <div class="footer-nav-wrapper">
        <div class="footer-col">
          <div class="footer-title">${_('About the Academy')}</div>
          <ul>
            <li><a href="/about" target="_blank">${_('The Academy')}</a></li>
            <li><a href="/about" target="_blank">${_('About Us')}</a></li>
            <li><a href="/about" target="_blank">${_('Services')}</a></li>
            <li><a href="/blog" target="_blank">${_('Blog')}</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <div class="footer-title">${_('courses')}</div>
          <ul>
            <li><a href="/#" target="_blank">${_('Create Course Now')}</a></li>
            <li><a href="/about" target="_blank">${_('About Us')}</a></li>
            <li><a href="/about" target="_blank">${_('Services')}</a></li>
            <li><a href="/about" target="_blank">${_('Blog')}</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <div class="footer-title">${_('Contact Us')}</div>
          <ul>
            <li><a href="/contact">${_('Contact Us')}</a></li>
            <li><a href="/contact" target="_blank">${_('Help')}</a></li>
          </ul>
        </div>
      </div>

      <div class="footer_section">
        <div class="footer_copyright-holder">
          ${_('All Rights Reserved')}
          <a href="${footer['openedx_link']['url']}">
            <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
          </a>
        </div>
      </div>

    </div>
    % if footer_language_selector_is_enabled():
      <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
    % endif
  </footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
