## coding=utf-8

## This is the main Mako template that all page templates should include.
## Note: there are a handful of pages that use Django Templates and which
## instead include main_django.html. It is important that these two files
## remain in sync, so changes made in one should be applied to the other.

## Pages currently use v1 styling by default. Once the Pattern Library
## rollout has been completed, this default can be switched to v2.

<!--

ZeitLabs Specific:

The theme uses many variables that can be set in Site Configurations table. The following is a template
for the used setting variables:

{
  "ZeitLabs": {
    "social_link_twitter": "full qualified URL for the twitter page, or empty string if none",
    "social_link_facebook": "full qualified URL for the facebook page, or empty string if none",
    "social_link_instagram": "full qualified URL for the instagram page, or empty string if none",
    "social_link_linkedin": "full qualified URL for the linkedin page, or empty string if none",
    "social_link_youtube": "full qualified URL for the youtube page, or empty string if none",
    "contact_email": "e-mail address for contacting the site info",
    "contact_phone_no": "official contact phone number",
    "logo_filename": "file name for the logo. Example: logo.png",
    "footer_logo_filename": "file name for the logo to be used in the footer. Example: footer-logo.png",
    "logo_lang": "list of languages for (language specific logo). for example: ['ar', 'fr'] ",
    "footer_logo_lang": "same as logo_lang ; but for the footer",
    "slider_background_filename": "file name of the image to be in the slider window"
  }
}

IMPORTANT: Site Theme must be configured for all sites

-->

<%! main_css = "style-main-v1" %>


<%namespace name='static' file='static_content.html'/>
<% online_help_token = self.online_help_token() if hasattr(self, 'online_help_token') else None %>
<%!
from branding import api as branding_api
from django.urls import reverse
from django.utils.http import urlquote_plus
from django.utils.translation import ugettext as _
from django.utils.translation import get_language_bidi
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangoapps.theming.helpers import get_current_site_theme
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.release import RELEASE_LINE
from pipeline_mako import render_require_js_path_overrides

%>
<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="${LANGUAGE_CODE}"><![endif]-->
<!--[if !IE]><!--><html lang="${LANGUAGE_CODE}"><!--<![endif]-->
<head dir="${static.dir_rtl()}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

## Define a couple of helper functions to make life easier when
## embedding theme conditionals into templates. All inheriting
## templates have access to these functions, and we can import these
## into non-inheriting templates via the %namespace tag.

## this needs to be here to prevent the title from mysteriously appearing in the body, in one case
<%def name="pagetitle()" />
  <%block name="title">
      <title>
       ${static.get_page_title_breadcrumbs(self.pagetitle())}
      </title>
  </%block>

  % if not allow_iframing:
      <script type="text/javascript">
        /* immediately break out of an iframe if coming from the marketing website */
        (function(window) {
          if (window.location !== window.top.location) {
            window.top.location = window.location;
          }
        })(this);
      </script>
  % endif

  <%
    jsi18n_path = "js/i18n/{language}/djangojs.js".format(language=LANGUAGE_CODE)
    ie11_fix_path = "js/ie11_find_array.js"
  %>

  % if getattr(settings, 'CAPTURE_CONSOLE_LOG', False):
    <script type="text/javascript">
      var oldOnError = window.onerror;
      window.localStorage.setItem('console_log_capture', JSON.stringify([]));

      window.onerror = function (message, url, lineno, colno, error) {
        if (oldOnError) {
          oldOnError.apply(this, arguments);
        }

        var messages = JSON.parse(window.localStorage.getItem('console_log_capture'));
        messages.push([message, url, lineno, colno, (error || {}).stack]);
        window.localStorage.setItem('console_log_capture', JSON.stringify(messages));
      }
    </script>
  % endif
  <script type="text/javascript" src="${static.url(jsi18n_path)}"></script>
  <script type="text/javascript" src="${static.url(ie11_fix_path)}"></script>

  <link rel="icon" type="image/x-icon" href="${static.url(static.get_value('favicon_path', settings.FAVICON_PATH))}" />

  <%static:css group='style-vendor'/>
  % if '/' in self.attr.main_css:
    % if get_language_bidi():
      <%
      rtl_css_file = self.attr.main_css.replace('.css', '-rtl.css')
      %>
      <link rel="stylesheet" href="${unicode(static.url(rtl_css_file))}" type="text/css" media="all" />
    % else:
      <link rel="stylesheet" href="${static.url(self.attr.main_css)}" type="text/css" media="all" />
    % endif
  % else:
    <%static:css group='${self.attr.main_css}'/>
  % endif

  % if disable_courseware_js or uses_pattern_library:
    <%static:js group='base_vendor'/>
    <%static:js group='base_application'/>
  % else:
    <%static:js group='main_vendor'/>
    <%static:js group='application'/>
  % endif

  <%static:webpack entry="commons"/>

  % if uses_bootstrap:
    ## xss-lint: disable=mako-invalid-js-filter
    <script type="text/javascript" src="${static.url('common/js/vendor/bootstrap.bundle.js')}"></script>
  % endif

  <script>
    window.baseUrl = "${settings.STATIC_URL | n, js_escaped_string}";
    (function (require) {
      require.config({
          baseUrl: window.baseUrl
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="${static.url("lms/js/require-config.js")}"></script>
  <%block name="js_overrides">
    ${render_require_js_path_overrides(settings.REQUIRE_JS_PATH_OVERRIDES) | n, decode.utf8}
  </%block>

  <%block name="headextra"/>
  <%block name="head_extra"/>

  <%include file="/courseware/experiments.html"/>
  <%include file="user_metadata.html"/>
  <%static:optional_include_mako file="head-extra.html" is_theming_enabled="True" />

  <%include file="widgets/optimizely.html" />
  <%include file="widgets/segment-io.html" />

  <meta name="path_prefix" content="${EDX_ROOT_URL}">
  
  <% google_site_verification_id = configuration_helpers.get_value('GOOGLE_SITE_VERIFICATION_ID', settings.GOOGLE_SITE_VERIFICATION_ID) %>
  % if google_site_verification_id:
    <meta name="google-site-verification" content="${google_site_verification_id}" />
  % endif

  <meta name="openedx-release-line" content="${RELEASE_LINE}" />

<% ga_acct = static.get_value("GOOGLE_ANALYTICS_ACCOUNT", settings.GOOGLE_ANALYTICS_ACCOUNT) %>
% if ga_acct:
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '${ga_acct | n, js_escaped_string}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
% endif

<% branch_key = static.get_value("BRANCH_IO_KEY", settings.BRANCH_IO_KEY) %>
% if branch_key and not is_from_mobile_app:
    <script type="text/javascript">
        (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode".split(" "), 0);
        branch.init('${branch_key | n, js_escaped_string}');
    </script>
% endif

</head>

<body class="${static.dir_rtl()} <%block name='bodyclass'/> lang_${LANGUAGE_CODE}">

<svg style="display: none">
    <symbol viewBox="0 0 1536 1536" id="ico-fs-expand">
        <path d="M1283 413L928 768l355 355 144-144q29-31 70-14 39 17 39 59v448q0 26-19 45t-45 19h-448q-42 0-59-40-17-39 14-69l144-144-355-355-355 355 144 144q31 30 14 69-17 40-59 40H64q-26 0-45-19t-19-45v-448q0-42 40-59 39-17 69 14l144 144 355-355-355-355-144 144q-19 19-45 19-12 0-24-5-40-17-40-59V64q0-26 19-45T64 0h448q42 0 59 40 17 39-14 69L413 253l355 355 355-355-144-144q-31-30-14-69 17-40 59-40h448q26 0 45 19t19 45v448q0 42-39 59-13 5-25 5-26 0-45-19z" />
    </symbol>
    <symbol viewBox="0 0 1536 1536" id="ico-fs-shrink">
        <path d="M768 832v448q0 26-19 45t-45 19-45-19l-144-144-332 332q-10 10-23 10t-23-10L23 1399q-10-10-10-23t10-23l332-332-144-144q-19-19-19-45t19-45 45-19h448q26 0 45 19t19 45zm755-672q0 13-10 23l-332 332 144 144q19 19 19 45t-19 45-45 19H832q-26 0-45-19t-19-45V256q0-26 19-45t45-19 45 19l144 144 332-332q10-10 23-10t23 10l114 114q10 10 10 23z" />
    </symbol>
    <symbol viewBox="0 0 35 35" id="ico-linkedin">
        <title>linkedin</title>
        <path d="M17.5 0C7.8 0 0 7.8 0 17.5S7.8 35 17.5 35 35 27.2 35 17.5C35 7.8 27.2 0 17.5 0zM13.1 26H8.8V10.7h4.4V26zM11.1 9.7c-1.1 0-2-0.9-2-2.1s0.9-2.1 2.1-2.1c1.1 0 2.1 0.9 2.1 2.1C13.1 8.8 12.2 9.7 11.1 9.7zM28.4 26h-4.4V16.5c0-1.1-0.3-1.9-1.7-1.9 -2.3 0-2.7 1.9-2.7 1.9v9.5h-4.4V10.7h4.4v1.5c0.6-0.5 2.2-1.5 4.4-1.5 1.4 0 4.4 0.8 4.4 6V26z" />
    </symbol>
    <symbol viewBox="0 0 35 35" id="ico-behance">
        <title>behance</title>
        <path d="M14.1 13.9c0-1.7-1.1-1.7-1.1-1.7h-0.6H8.3v3.5h4.3C13.4 15.8 14.1 15.5 14.1 13.9z" class="a" />
        <path d="M13 18.2H8.3v4.2h4.4c0.7 0 1.9-0.2 1.9-2.1C14.6 18.2 13 18.2 13 18.2z" class="a" />
        <path d="M24.8 15.8c-2.5 0-2.8 2.4-2.8 2.4h5.2C27.2 18.2 27.2 15.8 24.8 15.8z" class="a" />
        <path d="M17.5 0C7.8 0 0 7.8 0 17.5S7.8 35 17.5 35 35 27.2 35 17.5 27.2 0 17.5 0zM21.3 10.3h6.6v2h-6.5V10.3zM18 20.6c0 4.8-5 4.7-5 4.7H8.3 8.2 4.7V9.4h3.5 0.1 4.6c2.5 0 4.5 1.4 4.5 4.2s-2.4 3-2.4 3C18.2 16.6 18 20.6 18 20.6zM24.8 23.1c2.6 0 2.5-1.7 2.5-1.7h2.8c0 4.5-5.4 4.2-5.4 4.2 -6.5 0-6.1-6.1-6.1-6.1s0-6.1 6.1-6.1c6.4 0 5.5 6.9 5.5 6.9H22C22 23.3 24.8 23.1 24.8 23.1z" class="a" />
    </symbol>
    <symbol viewBox="0 0 35 35" id="ico-facebook">
        <title>facebook</title>
        <path d="M17.5 0C7.8 0 0 7.8 0 17.5S7.8 35 17.5 35 35 27.2 35 17.5C35 7.8 27.2 0 17.5 0zM23.6 9.6h-2.2c-0.8 0-1.4 0.2-1.6 0.5 -0.3 0.3-0.4 0.9-0.4 1.5v2.7h4.2l-0.5 4.2h-3.6v10.8h-4.3V18.5h-3.6V14.3h3.6v-3.1c0-1.8 0.5-3.1 1.5-4.1 1-1 2.3-1.5 3.9-1.5 1.4 0 2.5 0.1 3.2 0.2C23.6 5.9 23.6 9.6 23.6 9.6z" />
    </symbol>
    <symbol viewBox="0 0 35 35" id="ico-instagram">
        <title>instagram</title>
        <path d="M17.5 21c1.9 0 3.5-1.6 3.5-3.5 0-0.8-0.2-1.5-0.7-2 -0.6-0.9-1.7-1.5-2.8-1.5s-2.2 0.6-2.8 1.5c-0.4 0.6-0.7 1.3-0.7 2C14 19.4 15.6 21 17.5 21z" class="a" />
        <polygon points="25.2 13.2 25.2 10.3 25.2 9.8 24.7 9.8 21.8 9.9 21.8 13.2 " class="a" />
        <path d="M17.5 0C7.9 0 0 7.9 0 17.5S7.9 35 17.5 35 35 27.1 35 17.5 27.2 0 17.5 0zM27.5 15.5v8.1c0 2.1-1.7 3.8-3.8 3.8H11.4c-2.1 0-3.8-1.7-3.8-3.8v-8.1 -4.1c0-2.1 1.7-3.8 3.8-3.8h12.2c2.1 0 3.8 1.7 3.8 3.8L27.5 15.5 27.5 15.5z" class="a" />
        <path d="M22.9 17.5c0 3-2.4 5.4-5.4 5.4s-5.4-2.4-5.4-5.4c0-0.7 0.1-1.4 0.4-2H9.5v8.1c0 1.1 0.9 1.9 1.9 1.9h12.2c1.1 0 1.9-0.9 1.9-1.9v-8.1h-3C22.8 16.1 22.9 16.8 22.9 17.5z" class="a" />
    </symbol>
    <symbol viewBox="0 0 35 35" id="ico-odnoklassniki">
        <title>odnoklassniki</title>
        <path d="M17.5 14.5c1.7 0 3-1.3 3-3s-1.3-3-3-3c-1.7 0-3 1.4-3 3C14.5 13.2 15.8 14.5 17.5 14.5z" class="a" />
        <path d="M17.5 0C7.8 0 0 7.8 0 17.5S7.8 35 17.5 35 35 27.2 35 17.5 27.2 0 17.5 0zM17.5 5.3c3.4 0 6.1 2.8 6.1 6.2 0 3.4-2.8 6.1-6.2 6.1 -3.4 0-6.1-2.8-6.1-6.2C11.4 8.1 14.1 5.3 17.5 5.3zM24.4 20.1c-0.8 0.8-1.7 1.3-2.7 1.7 -1 0.4-2 0.6-3 0.7 0.2 0.2 0.2 0.3 0.3 0.4 1.4 1.4 2.8 2.8 4.2 4.2 0.5 0.5 0.6 1.1 0.3 1.6 -0.3 0.6-0.9 1-1.6 1 -0.4 0-0.7-0.2-1-0.5 -1.1-1.1-2.1-2.1-3.2-3.2 -0.3-0.3-0.4-0.3-0.7 0 -1.1 1.1-2.1 2.2-3.2 3.2 -0.5 0.5-1.1 0.6-1.6 0.3 -0.6-0.3-1-0.9-1-1.5 0-0.4 0.2-0.7 0.5-1 1.4-1.4 2.8-2.8 4.2-4.2 0.1-0.1 0.2-0.2 0.3-0.3 -1.9-0.2-3.6-0.7-5-1.8 -0.2-0.1-0.4-0.3-0.5-0.4 -0.6-0.6-0.7-1.3-0.2-2 0.4-0.6 1.2-0.8 1.9-0.4 0.1 0.1 0.3 0.2 0.4 0.2 2.7 1.9 6.4 1.9 9.2 0.1 0.3-0.2 0.6-0.4 0.9-0.5 0.7-0.2 1.3 0.1 1.6 0.6C24.9 18.9 24.9 19.6 24.4 20.1z" class="a" />
    </symbol>
    <symbol viewBox="0 0 35 35" id="ico-twitter">
        <title>twitter</title>
        <path d="M17.5 0C7.8 0 0 7.8 0 17.5S7.8 35 17.5 35 35 27.2 35 17.5C35 7.8 27.2 0 17.5 0zM26.2 13.6l0 0.6c0 5.7-4.3 12.3-12.3 12.3 -2.4 0-4.7-0.7-6.6-1.9 0.3 0 0.7 0.1 1 0.1 2 0 3.9-0.7 5.4-1.8 -1.9 0-3.5-1.3-4-3 0.3 0.1 0.5 0.1 0.8 0.1 0.4 0 0.8 0 1.1-0.1 -2-0.4-3.5-2.1-3.5-4.2v-0.1c0.6 0.3 1.2 0.5 2 0.5 -1.2-0.8-1.9-2.1-1.9-3.6 0-0.8 0.2-1.5 0.6-2.2 2.1 2.6 5.3 4.3 8.9 4.5 -0.1-0.3-0.1-0.6-0.1-1 0-2.4 1.9-4.3 4.3-4.3 1.2 0 2.4 0.5 3.1 1.4 1-0.2 1.9-0.6 2.7-1 -0.3 1-1 1.9-1.9 2.4 0.9-0.1 1.7-0.3 2.5-0.7C27.8 12.2 27 13 26.2 13.6z" />
    </symbol>
    <symbol viewBox="0 0 35 35" id="ico-vimeo">
        <title>vimeo</title>
        <path d="M17.5 0C7.8 0 0 7.8 0 17.5S7.8 35 17.5 35 35 27.2 35 17.5 27.2 0 17.5 0zM29.9 11.7c-0.1 2.4-1.8 5.7-5.1 9.9 -3.4 4.4-6.2 6.6-8.5 6.6 -1.4 0-2.7-1.3-3.7-4 -0.7-2.4-1.3-4.9-2-7.3 -0.7-2.7-1.5-4-2.4-4 -0.2 0-0.8 0.4-1.9 1.2l-1.2-1.5c1.2-1.1 2.4-2.1 3.6-3.2 1.6-1.4 2.9-2.1 3.7-2.2 1.9-0.2 3.1 1.1 3.6 4 0.5 3 0.8 4.9 1 5.7 0.6 2.5 1.2 3.8 1.8 3.8 0.5 0 1.3-0.8 2.3-2.5 1-1.6 1.6-2.9 1.7-3.7 0.1-1.4-0.4-2.1-1.7-2.1 -0.6 0-1.2 0.1-1.8 0.4 1.2-4 3.5-5.9 7-5.8C28.8 6.9 30 8.5 29.9 11.7z" />
    </symbol>
    <symbol viewBox="0 0 35 35" id="ico-vk">
        <title>vk</title>
        <path d="M17.5 0C7.8 0 0 7.8 0 17.5S7.8 35 17.5 35 35 27.2 35 17.5 27.2 0 17.5 0zM26.4 19.4c0.8 0.8 1.7 1.5 2.4 2.4 0.3 0.4 0.6 0.8 0.9 1.2 0.3 0.6 0 1.4-0.5 1.4l-3.6 0c-0.9 0.1-1.7-0.3-2.3-0.9 -0.5-0.5-1-1-1.4-1.6 -0.2-0.2-0.4-0.4-0.6-0.6 -0.5-0.3-0.9-0.2-1.2 0.3 -0.3 0.5-0.4 1.1-0.4 1.7 0 0.8-0.3 1.1-1.1 1.1 -1.8 0.1-3.5-0.2-5.1-1.1 -1.4-0.8-2.5-1.9-3.5-3.2 -1.9-2.5-3.3-5.3-4.5-8.1 -0.3-0.6-0.1-1 0.6-1 1.2 0 2.3 0 3.5 0 0.5 0 0.8 0.3 1 0.7 0.6 1.6 1.4 3 2.4 4.4 0.3 0.4 0.5 0.7 0.9 1 0.4 0.3 0.7 0.2 0.9-0.3 0.1-0.3 0.2-0.6 0.2-0.9 0.1-1.1 0.1-2.2-0.1-3.2 -0.1-0.7-0.5-1.1-1.2-1.2 -0.3-0.1-0.3-0.2-0.1-0.4 0.3-0.3 0.6-0.5 1.1-0.5l4.1 0c0.6 0.1 0.8 0.4 0.9 1.1l0 4.5c0 0.2 0.1 1 0.6 1.1 0.4 0.1 0.6-0.2 0.8-0.4 1-1 1.7-2.2 2.3-3.5 0.3-0.6 0.5-1.1 0.7-1.7 0.2-0.4 0.4-0.6 0.9-0.6l3.9 0c0.1 0 0.2 0 0.3 0 0.7 0.1 0.8 0.4 0.6 1 -0.3 1-0.9 1.8-1.5 2.7 -0.7 0.9-1.3 1.8-2 2.7C25.6 18.3 25.6 18.7 26.4 19.4z" />
    </symbol>
    <symbol viewBox="0 0 35 35" id="ico-youtube">
        <title>youtube</title>
        <path d="M15.2 24.5c0 0.3 0 0.5 0 0.6 0 0.2 0 0.2-0.1 0.3 0 0.2-0.2 0.3-0.4 0.4 -0.2 0.1-0.3 0-0.5-0.3 0 0 0-0.1 0-0.3 0-0.2 0-0.4 0-0.6l0-3.8h-1.4l0 3.8c0 0.3 0 0.5 0 0.7s0 0.4 0 0.5c0 0.2 0 0.3 0.1 0.5 0 0.2 0.1 0.3 0.3 0.5 0.2 0.1 0.4 0.2 0.6 0.2 0.2 0 0.4 0 0.7-0.1 0.2-0.1 0.4-0.2 0.6-0.3 0.2-0.1 0.3-0.3 0.4-0.4l0 0.8L16.7 26.8v-6.1h-1.4L15.2 24.5 15.2 24.5z" class="a" />
        <path d="M20.1 20.5c-0.3 0-0.7 0.2-1.2 0.5V18.6h-1.4v8.2l1.2 0 0.1-0.5c0.4 0.3 0.7 0.5 1 0.6 0.3 0.1 0.6 0 0.8-0.1 0.2-0.1 0.4-0.3 0.5-0.6 0.1-0.3 0.2-0.6 0.2-1v-3.2c0-0.6-0.2-1-0.6-1.3C20.5 20.5 20.3 20.5 20.1 20.5zM20.2 25.3c0 0.1-0.1 0.2-0.2 0.3 -0.1 0.1-0.3 0.1-0.4 0.1 -0.2 0-0.3 0-0.4-0.1 -0.1-0.1-0.2-0.2-0.2-0.3v-3.6c0-0.1 0.1-0.2 0.2-0.3 0.1-0.1 0.3-0.1 0.4-0.1 0.2 0 0.3 0 0.4 0.1 0.1 0.1 0.2 0.2 0.2 0.3V25.3z" class="a" />
        <polygon points="13.2 18.6 8.6 18.6 8.6 19.6 10.1 19.6 10.1 26.8 11.5 26.8 11.5 19.6 13.2 19.6 " class="a" />
        <path d="M17.5 0C7.8 0 0 7.8 0 17.5S7.8 35 17.5 35 35 27.2 35 17.5C35 7.8 27.2 0 17.5 0zM20 12.7V8.5h1.3v4.9c0 0.1 0 0.2 0.1 0.3 0.1 0.1 0.2 0.1 0.4 0.1 0.1 0 0.3 0 0.4-0.1 0.1-0.1 0.2-0.2 0.2-0.3V8.5h1.2v6.3h-1.6l0-0.5c-0.1 0.2-0.3 0.4-0.4 0.5 -0.2 0.1-0.3 0.2-0.5 0.2 -0.2 0-0.4-0.1-0.6-0.2 -0.1-0.1-0.3-0.2-0.4-0.4 0-0.1-0.1-0.2-0.1-0.3 0-0.1 0-0.2 0-0.3 0-0.1 0-0.2 0-0.4L20 12.7 20 12.7zM16.1 8.6c0.3-0.2 0.6-0.3 1.1-0.3 0.4 0 0.7 0.1 1 0.2 0.3 0.1 0.5 0.3 0.6 0.5 0.1 0.2 0.2 0.4 0.3 0.6 0.1 0.3 0.1 0.6 0.1 1v1.6c0 0.6 0 1-0.1 1.3 0 0.2-0.1 0.5-0.3 0.8 -0.2 0.3-0.4 0.4-0.6 0.5 -0.3 0.1-0.6 0.2-0.9 0.2 -0.3 0-0.7 0-0.9-0.2 -0.3-0.1-0.5-0.2-0.6-0.4 -0.1-0.2-0.2-0.4-0.3-0.7 -0.1-0.3-0.1-0.7-0.1-1.3 0 0 0-1.7 0-1.7 0-0.6 0.1-1 0.2-1.4C15.6 9 15.8 8.7 16.1 8.6zM11.9 6l0.9 3.1 0.9-3.1h1.7l-1.8 4.2v4.8H12.2v-4.8l-1.9-4.2H11.9zM27.8 26c0 0.4-0.1 0.8-0.3 1.2 -0.2 0.4-0.4 0.7-0.7 0.9 -0.3 0.3-0.7 0.5-1.1 0.6 -0.4 0.2-0.8 0.2-1.3 0.2H10.6c-0.5 0-0.9-0.1-1.3-0.2 -0.4-0.2-0.8-0.4-1.1-0.6 -0.3-0.3-0.6-0.6-0.7-0.9 -0.2-0.4-0.3-0.7-0.3-1.2v-6.8c0-0.4 0.1-0.8 0.3-1.2 0.2-0.4 0.4-0.7 0.7-0.9 0.3-0.3 0.7-0.5 1.1-0.6 0.4-0.2 0.8-0.2 1.3-0.2H24.4c0.5 0 0.9 0.1 1.3 0.2s0.8 0.4 1.1 0.6c0.3 0.3 0.6 0.6 0.7 0.9 0.2 0.4 0.3 0.7 0.3 1.2V26z" class="a" />
        <path d="M17.2 13.9c0.2 0 0.3-0.1 0.4-0.2 0.1-0.1 0.2-0.3 0.2-0.4V9.9c0-0.2-0.1-0.3-0.2-0.5 -0.1-0.1-0.3-0.2-0.4-0.2 -0.2 0-0.3 0.1-0.4 0.2 -0.1 0.1-0.2 0.3-0.2 0.5v3.4c0 0.2 0.1 0.3 0.2 0.4C16.9 13.9 17.1 13.9 17.2 13.9z" class="a" />
        <path d="M24.7 24.7v0.2 0.5c0 0.2-0.1 0.3-0.2 0.4 -0.1 0.1-0.3 0.1-0.4 0.1h-0.2c-0.2 0-0.3 0-0.4-0.1 -0.1-0.1-0.2-0.2-0.2-0.4v-0.1 -0.6 -0.8h2.5v-0.8c0-0.3 0-0.6 0-0.9 0-0.3 0-0.5-0.1-0.7 0-0.3-0.2-0.5-0.4-0.7 -0.2-0.2-0.5-0.3-0.7-0.3 -0.3-0.1-0.6-0.1-0.9 0 -0.3 0-0.5 0.1-0.8 0.3 -0.3 0.2-0.5 0.4-0.6 0.8 -0.1 0.3-0.2 0.8-0.2 1.3v1.9c0 0.8 0.2 1.4 0.6 1.7 0.4 0.3 0.8 0.5 1.2 0.5 0 0 0.1 0 0.1 0 0.5 0 0.9-0.2 1.3-0.6 0.3-0.3 0.4-0.6 0.4-1.1 0-0.1 0-0.3-0.1-0.5H24.7v0h0V24.7zM23.3 22.1c0-0.2 0.1-0.3 0.2-0.4 0.1-0.1 0.3-0.2 0.4-0.2h0.1c0.2 0 0.3 0.1 0.5 0.2 0.1 0.1 0.2 0.2 0.2 0.4l0 0.8h-1.4L23.3 22.1z" class="a" />
    </symbol>
    <symbol viewBox="0 0 78.1 16" style="enable-background:new 0 0 78.1 16;" id="logo-edx" class="test">
        <title>logo-edx</title>

        <g>
            <g>
                <path class="st0" fill="#fff" d="M14,15.8v-12h3.2c0.7,0,1.3,0,1.7,0.1c0.5,0.1,1,0.3,1.4,0.5C20.7,4.6,21,5,21.2,5.5c0.2,0.5,0.3,1,0.3,1.5
			c0,1-0.3,1.8-0.9,2.4c-0.6,0.7-1.7,1-3.3,1h-1.8v5.4H14z M15.5,9.1h1.9c1,0,1.6-0.2,2-0.5C19.8,8.2,20,7.7,20,7
			c0-0.5-0.1-0.9-0.4-1.2c-0.2-0.3-0.5-0.6-0.9-0.7c-0.2-0.1-0.7-0.1-1.4-0.1h-1.8V9.1z"/>
                <path class="st0" fill="#fff" d="M23.3,15.8v-12h7.6v1.3h-6.1v3.8h5.8v1.3h-5.8v4.3h6.3v1.3H23.3z"/>
                <path class="st0" fill="#fff" d="M33,15.8v-12h1.5l6.7,9.6V3.8h1.4v12h-1.5l-6.7-9.7v9.7H33z"/>
                <g>
                    <path class="st0" fill="#fff" d="M10.5,5.2c1.2,1.2,1.8,2.7,1.8,4.5s-0.6,3.2-1.8,4.5C9.3,15.4,7.9,16,6.2,16c-1.7,0-3.2-0.6-4.4-1.8
				C0.6,12.9,0,11.4,0,9.7s0.6-3.2,1.8-4.5C3,4,4.5,3.4,6.2,3.4C7.9,3.4,9.3,4,10.5,5.2z M6.2,5C4.9,5,3.8,5.5,2.9,6.4
				C2,7.3,1.6,8.4,1.6,9.7C1.6,11,2,12.1,2.9,13c0.9,0.9,2,1.4,3.2,1.4c1.3,0,2.4-0.5,3.3-1.4c0.9-0.9,1.3-2,1.3-3.3
				c0-1.3-0.4-2.4-1.3-3.3C8.5,5.5,7.4,5,6.2,5z"/>
                </g>
            </g>
            <path class="st1" fill="#fff" d="M63.6,0c0,0.8,0,2.5,0,2.5l1.3,0c0,0,0.2,0.2,0.3,0.3c0,0,0,0,0,0c0,3.3,0,6.5,0,9.8c0,0,0,0,0,0
		c-0.1,0.2-0.3,0.4-0.4,0.5c-0.4,0-0.8,0-1.2,0c0,0.9,0,1.7,0,2.6c-0.3,0-0.6,0-0.9,0c0-0.4,0-0.7,0-1.1c-0.8,0.5-1.8,1-3,1.1
		c-0.3,0-0.5,0-0.8,0c-1.9-0.2-3.1-0.9-4.1-2c0,0,0,0,0,0c0.5-0.5,0.8-1.1,1.1-1.7c-0.7,0-1.5,0-2.2,0c0,0,0,0,0,0
		c-0.2-0.4-0.3-0.9-0.4-1.4c0,0,0,0,0,0c0.8,0,1.7,0,2.6,0c0,0,0,0,0,0c0.5,1.5,1.9,2.8,4,2.5c1.5-0.2,2.8-1.5,2.9-3.2
		c0.1-1.3-0.3-2.1-1-2.8c-0.5-0.5-1.2-1-2.1-1c-1.8-0.1-2.8,0.8-3.4,1.9c0,0,0,0,0,0c-0.3-1-0.7-1.8-1.3-2.4c0,0,0,0,0,0
		c0.8-0.9,2-1.7,3.6-1.9c1.7-0.3,3.3,0.3,4.3,1c0-0.7,0-1.4,0-2.1c-0.5,0-1.1,0-1.6,0c0-0.8,0-1.7,0-2.5C61.8,0,62.7,0,63.6,0z"/>
            <path class="st2" fill="#fff" d="M63.6,0c0.5,0,1.1,0,1.6,0c0,0.9,0,1.9,0,2.8c-0.1-0.1-0.3-0.3-0.3-0.3l-1.3,0C63.6,2.5,63.6,0.8,63.6,0z"/>
            <path class="st3" fill="#fff" d="M65.1,0c1.5,0,3.1,0,4.6,0c0,0.8,0,1.6,0,2.5c-0.5,0-1,0-1.4,0c0.8,1,1.7,2.1,2.5,3.1c0.8-1,1.7-2,2.5-3.1
		c0,0,0,0,0,0c-0.5,0-0.9,0-1.4,0c0-0.8,0-1.6,0-2.5c2.1,0,4.1,0,6.2,0c0,0.8,0,1.6,0,2.5c-0.4,0-0.9,0-1.3,0
		C75.4,4.2,74,6,72.6,7.7c1.4,1.8,2.9,3.6,4.4,5.4c0.4,0,0.8,0,1.2,0c0,0.9,0,1.7,0,2.6c-2.1,0-4.1,0-6.2,0c0-0.9,0-1.7,0-2.6
		c0.5,0,1,0,1.5,0c-0.8-1.1-1.8-2.2-2.6-3.3c-0.9,1.1-1.8,2.2-2.7,3.3c0.5,0,1,0,1.6,0c0,0.9,0,1.7,0,2.6c-0.9,0-1.8,0-2.7,0
		c0-0.8,0-1.7,0-2.5c-0.6,0-1.3,0-1.9,0c0-0.2,0-0.3,0-0.5c0,0,0,0,0,0c1.3-1.6,2.7-3.3,4-4.9c-1.3-1.7-2.6-3.3-4-4.9c0,0,0,0,0,0
		C65.1,1.9,65.1,0.9,65.1,0z"/>
            <path class="st4" fill="#fff" d="M68.4,2.5c0.4,0,0.9,0,1.4,0C69.3,2.5,68.8,2.5,68.4,2.5z"/>
            <path class="st4" fill="#fff" d="M72,2.5c0.5,0,0.9,0,1.4,0c0,0,0,0,0,0C72.9,2.5,72.4,2.5,72,2.5z"/>
            <path class="st4" fill="#fff" d="M76.8,2.5c0.4,0,0.9,0,1.3,0C77.7,2.5,77.3,2.5,76.8,2.5z"/>
            <path class="st4" fill="#fff" d="M50.1,3.5c0.1,0,0.4,0,0.5,0C50.4,3.5,50.2,3.5,50.1,3.5z"/>
            <path class="st1" fill="#fff" d="M46.2,5.1c1-0.8,2.1-1.5,3.9-1.6c0.2,0,0.3,0,0.5,0c1.7,0.1,2.8,0.7,3.8,1.6c0.1,0.1,0.2,0.2,0.3,0.3
		c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0,0c-0.6,0.6-1.1,1.4-1.4,2.4c0,0,0,0,0,0c-0.6-1-1.4-1.8-2.9-1.9c-0.1,0-0.2,0-0.3,0
		c-1,0-1.6,0.4-2.2,0.9c-0.1,0.1-0.2,0.2-0.3,0.3c-0.3,0.4-0.6,0.8-0.7,1.3c2.1,0,4.2,0,6.3,0c-0.1,0.6-0.1,1.4,0,2c0,0,0,0,0,0
		c-2.1,0-4.2,0-6.3,0c0.4,1.2,1.2,2.1,2.4,2.4c1.3,0.4,2.5-0.1,3.2-0.8c0.1-0.1,0.3-0.2,0.3-0.3c0.2,0,0.5,0,0.7,0c0,0,0,0,0,0
		c0.3,0.7,0.7,1.2,1.1,1.7c0,0,0,0,0,0c-1,1-2.2,1.8-4.1,2c-0.2,0-0.4,0-0.6,0c-1.7-0.1-3.1-0.8-4-1.8c-0.9-0.9-1.7-2.3-1.8-4
		c0-0.2,0-0.3,0-0.5c0.1-1.7,0.7-2.9,1.6-3.9C46,5.4,46.1,5.3,46.2,5.1z"/>
            <path class="st2" fill="#fff" d="M54.7,5.5c0.6,0.7,1,1.4,1.3,2.4c-0.4,0.6-0.5,1.8-0.3,2.6c-0.9,0-1.7,0-2.6,0c-0.1-0.6-0.1-1.4,0-2
		c0.1,0,0.3,0,0.4,0c0-0.2-0.1-0.4-0.2-0.6C53.7,7,54.1,6.1,54.7,5.5z"/>
            <path class="st4" fill="#fff" d="M53.3,7.9C53.4,7.9,53.4,7.9,53.3,7.9c0.1,0.2,0.2,0.4,0.3,0.6c-0.1,0-0.3,0-0.4,0C53.3,8.3,53.3,8.1,53.3,7.9
		z"/>
            <path class="st5" fill="#fff" d="M56,7.9C56,7.9,56,7.9,56,7.9c0.2,0.8,0.3,1.8,0.1,2.6c-0.1,0-0.3,0-0.4,0c0,0,0,0,0,0
		C55.5,9.7,55.7,8.6,56,7.9z"/>
            <path class="st2" fill="#fff" d="M53.6,12c0.7,0,1.5,0,2.2,0c-0.3,0.7-0.6,1.3-1.1,1.7C54.3,13.2,53.9,12.6,53.6,12z"/>
            <path class="st2" fill="#fff" d="M65.1,12.6c0,0.2,0,0.3,0,0.5c0.6,0,1.3,0,1.9,0c0,0.8,0,1.7,0,2.5c-1.2,0-2.3,0-3.5,0c0-0.9,0-1.7,0-2.6
		c0.4,0,0.8,0,1.2,0C64.9,13,65,12.8,65.1,12.6z"/>
            <path class="st4" fill="#fff" d="M54.4,5.1c0.1,0.1,0.2,0.2,0.3,0.3C54.5,5.3,54.4,5.2,54.4,5.1z"/>
            <path class="st4" fill="#fff" d="M47.6,7.2C47.7,7.1,47.8,7,47.9,7C47.8,7.1,47.8,7.2,47.6,7.2z"/>
        </g>

    </symbol>
    <symbol viewBox="0 0 100 100" id="logo-raccoon">
        <path d="M68.6 10.2v12.6L57.3 20.3h0L50 20.3v0l-7.2 0h0l-11.3 2.5V10.2L12.8 28.9 0.9 40.7l0 0 9.2 9.2 13.5 13.5 9.3 9.3L50 89.8v0l17.1-17.1 9.3-9.3 13.4-13.5 9.2-9.2 -11.8-11.9L68.6 10.2zM64.3 71.8l0 0L50 66.7v0l-14.3 5.2 0 0 -9.7-9.8 9.6-5.9L50 53v0l14.4 3.1 9.6 5.9L64.3 71.8zM95.3 40.7l-7.5 7.6h0l-9.5-7.5 -9.6-3.9 -7.9 3.9L50 46V45.9l-10.7-5.2 -7.9-3.9 -9.6 3.9 -9.5 7.5 0 0 -7.5-7.6 0 0 12.6-12.6 11.6-11.6 0 9.9 0.1 0 14.7-3.6 0 0H50v0h6.4l14.7 3.6 0.1 0 0-9.9L82.7 28.1l12.6 12.6V40.7z" fill="#FFF" />
    </symbol>
</svg>

<%static:optional_include_mako file="body-initial.html" is_theming_enabled="True" />
<div id="page-prompt"></div>
% if not disable_window_wrap:
  <div class="window-wrap" dir="${static.dir_rtl()}">
% endif
    <a class="nav-skip sr-only sr-only-focusable" href="#main">${_("Skip to main content")}</a>

    % if not disable_header:
        <%include file="${static.get_template_path('header.html')}" args="online_help_token=online_help_token" />
        <%include file="/preview_menu.html" />
    % endif

    <%include file="/page_banner.html" />

    <div class="marketing-hero"><%block name="marketing_hero"></%block></div>

    <div class="content-wrapper main-container" id="content">
      ${self.body()}
      <%block name="bodyextra"/>
    </div>

    % if not disable_footer:
        <%include file="${static.get_template_path('footer.html')}" />
    % endif

% if not disable_window_wrap:
  </div>
% endif

  <%block name="footer_extra"/>
  <%block name="js_extra"/>

  <%include file="widgets/segment-io-footer.html" />
  <script type="text/javascript" src="${static.url('js/vendor/noreferrer.js')}" charset="utf-8"></script>
  <script type="text/javascript" src="${static.url('js/utils/navigation.js')}" charset="utf-8"></script>
  <script type="text/javascript" src="${static.url('js/header/header.js')}"></script>
  <%static:optional_include_mako file="body-extra.html" is_theming_enabled="True" />
</body>
</html>

<%def name="login_query()">${
  u"?next={next}".format(
    next=urlquote_plus(login_redirect_url if login_redirect_url else request.path)
  ) if (login_redirect_url or request) else ""
}</%def>
