## mako

<%page expression_filter="h" args="online_help_token, use_cookie_banner=False"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _

from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
from openedx.core.djangoapps.site_configuration import helpers
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
%>
<%
zeitlabs_config = helpers.get_value("ZeitLabs") or None

if (zeitlabs_config != None):
    contact_email = zeitlabs_config["contact_email"] or None
    contact_phone_no = zeitlabs_config["contact_phone_no"] or None

    social_link_twitter = zeitlabs_config["social_link_twitter"] or None
    social_link_facebook = zeitlabs_config["social_link_facebook"] or None
    social_link_instagram = zeitlabs_config["social_link_instagram"] or None
    social_link_linkedin = zeitlabs_config["social_link_linkedin"] or None
    social_link_youtube = zeitlabs_config["social_link_youtube"] or None
else:
    contact_email = None
    contact_phone_no = None

    social_link_twitter = None
    social_link_facebook = None
    social_link_instagram = None
    social_link_linkedin = None
    social_link_youtube = None

show_contact_info = (
    (contact_email != None) or
    (contact_phone_no != None)
);

show_social_links = (
    (social_link_twitter != None) or
    (social_link_facebook != None) or
    (social_link_instagram != None) or
    (social_link_linkedin != None) or
    (social_link_youtube != None)
);
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
    HeaderFactory();
    </%static:require_module>
    </%block>
% endif

<header class="global-header theme-header ${'slim' if course else ''}">
    <div class="theme-header-info">
        <div class="theme-header-info_contact">
            % if show_contact_info:
                <span class="theme-header-info_text">${_('Have any question?')}</span>
                % if contact_phone_no != None:
                    <span class="theme-header-info_phone">${contact_phone_no}</span>
                % endif
                % if contact_email != None:
                    <a class="theme-header-info_mail" href="mailto: ${contact_email}"><i class="fa fa-envelope" aria-hidden="true"></i>${contact_email}</a>
                % endif
            % endif
        </div>
        <div class="theme-header-info_social">
            % if show_social_links:
                <span class="theme-header-info_text">${_('Find us in social network')}</span>
                <ul class="social-list">
                % if social_link_twitter != None:
                    <li class="social-list_item"><a class="social-list_link" href="${social_link_twitter}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                % endif
                % if social_link_facebook != None:
                    <li class="social-list_item"><a class="social-list_link" href="${social_link_facebook}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                % endif
                % if social_link_instagram != None:
                    <li class="social-list_item"><a class="social-list_link" href="${social_link_instagram}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                % endif
                % if social_link_linkedin != None:
                    <li class="social-list_item"><a class="social-list_link" href="${social_link_linkedin}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                % endif
                % if social_link_youtube != None:
                    <li class="social-list_item"><a class="social-list_link" href="${social_link_youtube}" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                % endif
                </ul>
            % endif
            % if header_language_selector_is_enabled():
                <% languages = released_languages() %>
                % if len(languages) > 1:
                    <div class="dynamic_language_selector">
                        <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
                            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
                            % if user.is_authenticated:
                                <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
                            % else:
                                <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
                            % endif
                            <select class="input select language-selector" id="settings-language-value" name="language">
                                % for language in languages:
                                    % if language[0] == LANGUAGE_CODE:
                                        <option class="language-selector-item" value="${language[0]}" selected="selected">${language[1]}</option>
                                    % else:
                                        <option class="language-selector-item" value="${language[0]}" >${language[1]}</option>
                                    % endif
                                % endfor
                            </select>
                        </form>
                    </div>
                % endif
            % endif
        </div>
    </div>
    <div class="holder">
        % if use_cookie_banner:
            ${static.renderReact(
                component="CookiePolicyBanner",
                id="cookie-policy-banner",
                props={}
            )}
        % endif
        <div class="main-header">
            <%include file="navbar-logo-header.html" args="online_help_token=online_help_token"/>
            % if user.is_authenticated:
                <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
            % else:
                <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
            % endif
        </div>
        <div class="mobile-menu hidden" aria-label=${_("More Options")} role="menu" id="mobile-menu"></div>
    </div>

    <div class="theme-main-nav">
        <div class="theme-main-nav_opener">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div class="theme-main-nav_logo">
            <a href="${marketing_link('ROOT')}">
          <span class="theme-nav-wrapper_logo-holder theme-nav-wrapper_logo-holder_small">
          </span>
            </a>
        </div>
        <nav class="theme-main-nav_holder">
            <ul class="theme-main-nav_list">
                <li class="theme-main-nav_item"><a href="/about" class="theme-main-nav_link">${_("About The Academy")}</a></li>
                <li class="theme-main-nav_item"><a href="/blog" class="theme-main-nav_link">${_("Blog")}</a></li>
                <li class="theme-main-nav_item"><a href="/contact" class="theme-main-nav_link">${_("Contact Us")}</a></li>
                % if user.is_authenticated():
                <%block name="navigation_global_links_authenticated">
                % if settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing:
                <li class="theme-main-nav_item">
                    <a class="theme-main-nav_link" href="${marketing_link('COURSES')}">${_("Explore Courses")}</a>
                </li>
                % endif
                % if show_program_listing:
                <li class="theme-main-nav_item">
                    <a class="${'active ' if reverse('dashboard') == request.path else ''}theme-main-nav_link" href="${reverse('dashboard')}">
                        ${_("Courses")}
                    </a>
                </li>
                <li class="theme-main-nav_item">
                    <a class="${'active ' if reverse('program_listing_view') in request.path else ''}theme-main-nav_link" href="${reverse('program_listing_view')}">
                        ${_("Programs")}
                    </a>
                </li>
                % endif
                %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
                <li class="theme-main-nav_item">
                    ## Translators: This is short for "System administration".
                    <a class="theme-main-nav_link" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
                </li>
                %endif
            </%block>
            % else:
            <%block name="navigation_other_global_links">
            % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
            % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
            <li class="theme-main-nav_item">
                <a class="theme-main-nav_link" href="/courses">${_("Explore Courses")}</a>
            </li>
            %endif
            % endif
        </%block>
        %endif
        </ul>
        </nav>
    </div>
</header>

<script>
    $(".theme-main-nav_opener").on("click", function open(){
        if ($(this).parent().hasClass("theme-main-nav__open")){
            $(this).parent().removeClass("theme-main-nav__open");
        } else {
            $(this).parent().addClass("theme-main-nav__open");
        }
    });
</script>

% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
    end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
)}</div>
<![endif]-->
% endif

% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="../widgets/cookie-consent.html" />
% endif

