## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%!
from crum import get_current_request
from django.urls import reverse
from django.utils.translation import ugettext as _
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangoapps.theming.helpers import get_current_site_theme

# App that handles subdomain specific branding
from branding import api as branding_api
%>

<%def name = "get_logo_path()"><%
  current_lang = get_current_request().LANGUAGE_CODE.lower();

  zeitlabs_config = configuration_helpers.get_value("ZeitLabs") or None;

  if (zeitlabs_config != None):
    logo_filename = zeitlabs_config["logo_filename"] or "logo.png";
    logo_lang = zeitlabs_config["logo_lang"] or None;
  else:
    logo_filename = "logo.png";
    logo_lang = None;

  if logo_lang != None:
    for lang in logo_lang:
      if lang.lower() == current_lang:
        logo_filename = logo_filename.replace(".", "-" + current_lang + ".")
        exit;

  logo_path = "/static/" + str(get_current_site_theme()) + "/images/" + logo_filename;
%>${logo_path}</%def>

<h1 class="header-logo">
  <a href="/">
    <%block name="navigation_logo">
    <img  class="logo" src="${get_logo_path()}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
    </%block>
  </a>
  % if course:
    <div class="course-header">
      <span class="provider">${course.display_org_with_default}:</span>
      <span class="course-number">${course.display_number_with_default}</span>
      <%
      display_name = course.display_name_with_default
      if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
        ccx = get_current_ccx(course.id)
        if ccx:
          display_name = ccx.display_name
      %>
      <span class="course-name">${display_name}</span>
    </div>
  % endif
</h1>
% if enable_enterprise_sidebar:
  <div class="enterprise-tagline">
    <% tagline = configuration_helpers.get_value('ENTERPRISE_TAGLINE', settings.ENTERPRISE_TAGLINE) %>
    % if tagline:
      ${tagline}
    % endif
  </div>
% endif
